* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #01063d;
}

.screen{
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img {
    width: 100%;
    height: 100%;
    
}

.right {
    width: 500px;
    background-color: #fc024f;
    padding: 50px;
}

.right label {
    display: block;
    margin-bottom: 20px;
}
.right input {
    width: 100%;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
}

.error {
    font-size: 11px;
    background-color: #FF0000;
    color: #FFF;
    padding: 4px;
    border-radius: 5px;
}